@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1000px;
  background-color: black;
  margin: 0 auto;
  padding: 10px;
}
/* Header Start */
.profile-image {
  height: 100px;
  width: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  float: left;
}

.header-bio {
  float: left;
  padding: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,p{
  color: white;
}

.header-contact {
  float: right;
  padding: 30px;
}
.header-contact a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.header-contact a:hover {
  text-decoration: underline;
  color: tomato;
}
.div-clear {
  clear: both;
}
hr {
  border: solid white 3px;
  border-radius: 3px;
  border-bottom: none;
  margin: 20px auto;
}
/* Header End */

/*------------------------
Personal Infromation
-------------------------*/
#personal-section {
}
.content{
  margin-bottom: 30px;
}
.left-div {
  width: 30%;
  float: left;
}
.right-div {
  width: 70%;
  float: left;
}
.common-hr hr{
  border: sold white 0.1px;
  border-bottom: none;
  width: 100%;
  margin: 20px auto;
}
.right-div .ul-style{
  color: white;
  padding-left: 25px;
}


/*------------
Education Section Start
--------------*/

.edu-template-left{
  float: left;
  width: 45%;
}
.edu-template-right{
  float: right;
  width: 45%;
}